
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --green: #88C000;
  --green2: #00A74F;
  --text-color: #1c1a19;
  --grey:#888888;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px !important;
  font-weight: 300;
  color: var(--text-color);
}
p {
  margin-bottom: 0 !important;
}
a {
  color: var(--green) !important;
  font-weight: 400;
}
.wrapper {
  position: relative;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 20px;
  position: relative;
}
.container-fluid {
  width: 100%;
  padding: 50px 20px;
  position: relative;
}
h1 {
  /* font-size: 25px !important; */
  margin: 0 !important;
}
.subtitles{
    font-size: 2rem;
}
.ant-table-cell, .ant-input, .ant-picker-input {
  color: #555454 !important;
  font-size: 13px !important;
}
.ant-btn, .ant-form-item-explain.ant-form-item-explain-error {
  font-size: 12px !important;
}
.ant-btn-dangerous {
  background: red !important;
}
.ant-btn-dangerous path{
  fill: white;
}
.ant-layout-header {
  height: auto !important;
}
th.ant-table-cell, .ant-table-column-sort {
  color: rgb(29, 29, 29) !important;
  font-size: 13px !important;
}
.ant-form-item-required span {
  display: none !important;
}

.ant-form-item-required::before {
  display: none !important;
}
.ant-result-success .ant-result-icon > .anticon {
    color: var(--green) !important;
}
.ant-form-item-label {
  font-weight: 500 !important;
}
.ant-form-item-label label {
  font-size: 13px !important;
}
.ant-select-selection-item, .ant-select-item-option-content {
  font-size: 12px !important;
}
.anticon-close > svg > path {
  fill:red !important;
}
.ant-modal-close-icon > svg > path {
  fill: var(--text-color) !important;
}
.ant-pagination-item > a {
  color: #1890ff !important;
}